@import "tailwindcss";
@config "../tailwind.config.js";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@layer base {
  h1 {
    font-size: var(--text-4xl);
  }
  h2 {
    font-size: 100px;
    /* font-size: var(--text-3xl); */
  }
  h3 {
    font-size: var(--text-2xl);
  }
  h4 {
    font-size: var(--text-xl);
  }
  h5 {
    font-size: var(--text-lg);
  }
}
